<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
   <head> 
      <title>
         Enterprise Management System
      </title> 
   </head>
   <body>
      <div th:if="${justLoggedIn}">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
      </div> 
      <div th:if="${justRegistered}">
        <h1 th:inline="text">Hello [[${username}]]!</h1>
      </div>
      
      <p>You have successfully logged in</p>
      <form th:action="@{/logout}" method="post"> 
         <input name="logout" type="submit" value="Sign Out"/> 
      </form>
   </body> 
</html>

<!--
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]</h1>
      <div th:if="${justRegistered}">
        <h1 th:inline="text">Hello [[${username}]]!</h1>
      </div>  
  --> 

